<div>
  <pre style="text-align:center">
       / /\        /\ \           /\ \        / /\              /\_\/\_\ _   / /\            _\ \         /\ \      /\ \       
      / /  \      /  \ \         /  \ \      / /  \            / / / / //\_\/ /  \          /\__ \       /  \ \    /  \ \____  
     / / /\ \__  / /\ \ \       / /\ \ \    / / /\ \          /\ \/ \ \/ / / / /\ \        / /_ \_\     / /\ \ \  / /\ \_____\ 
    / / /\ \___\/ / /\ \ \     / / /\ \_\  / / /\ \ \        /  \____\__/ / / /\ \ \      / / /\/_/    / / /\ \_\/ / /\/___  / 
    \ \ \ \/___/ / /  \ \_\   / / /_/ / / / / /  \ \ \      / /\/________/ / /\ \_\ \    / / /        / /_/_ \/_/ / /   / / /  
     \ \ \    / / /    \/_/  / / /__\/ / / / /___/ /\ \    / / /\/_// / / / /\ \ \___\  / / /        / /____/\ / / /   / / /   
 _    \ \ \  / / /          / / /_____/ / / /_____/ /\ \  / / /    / / / / /  \ \ \__/ / / / ____   / /\____\// / /   / / /    
/_/\__/ / / / / /________  / / /\ \ \  / /_________/\ \ \/ / /    / / / / /____\_\ \  / /_/_/ ___/\/ / /______\ \ \__/ / /     
\ \/___/ / / / /_________\/ / /  \ \ \/ / /_       __\ \_\/_/    / / / / /__________\/_______/\__\/ / /_______\\ \___\/ /      
 \_____\/  \/____________/\/_/    \_\/\_\___\     /____/_/       \/_/\/_____________/\_______\/   \/__________/ \/_____/       
</pre>
  
<p style="text-align:center; font-size: 25px; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
    ...this message payload has been lost ... 
    <br/> ... we need you to find the most efficient and optimal design ... 
    <br />
    .
    <br/> ... we need two screens with routing enabled ... 
    <br/> ... first screen must have some basic info about the launch mission ... 
    <br/> ... the second second screen must contain more detail about the selected mission ... 
    <br />
    .
    <br/> ... let the data speak to you!
</p>

  <pre style="text-align:center">
████████╗██████╗  █████╗ ███╗   ██╗███████╗███╗   ███╗██╗███████╗███████╗██╗ ██████╗ ███╗   ██╗    ███████╗███╗   ██╗██████╗ 
╚══██╔══╝██╔══██╗██╔══██╗████╗  ██║██╔════╝████╗ ████║██║██╔════╝██╔════╝██║██╔═══██╗████╗  ██║    ██╔════╝████╗  ██║██╔══██╗
   ██║   ██████╔╝███████║██╔██╗ ██║███████╗██╔████╔██║██║███████╗███████╗██║██║   ██║██╔██╗ ██║    █████╗  ██╔██╗ ██║██║  ██║
   ██║   ██╔══██╗██╔══██║██║╚██╗██║╚════██║██║╚██╔╝██║██║╚════██║╚════██║██║██║   ██║██║╚██╗██║    ██╔══╝  ██║╚██╗██║██║  ██║
   ██║   ██║  ██║██║  ██║██║ ╚████║███████║██║ ╚═╝ ██║██║███████║███████║██║╚██████╔╝██║ ╚████║    ███████╗██║ ╚████║██████╔╝
   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝╚══════╝╚═╝     ╚═╝╚═╝╚══════╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝    ╚══════╝╚═╝  ╚═══╝╚═════╝   
  </pre>
</div>