/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("https://68.media.tumblr.com/595a5fa01fe53ca0e4ca8f37bacc849d/tumblr_nve67mJtue1tanofjo1_500.gif");
}

pre {
    color: white;
}

p {
    color: white;
}